<h1>Photograph Listing</h1>

<table>
  <tr>
    <th>Image name</th>
    <th>Image Path </th>
    <th></th>
    <th></th>
  </tr>

<% @phots.each do |phot| %>
  <tr>
    <td><%= phot.image_name %></td>
    <td><%= phot.image.url %></td>
    <td><%= link_to 'Show', phot %></td>
    <td><%= link_to 'Edit', edit_phot_path(phot) %></td>
    <td><%= link_to 'Destroy', phot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<button> <%= link_to 'Add Photograph ', new_phot_path %> </button>
